@charset "utf-8";

h1 {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

img {
  width: 29vw;
  height: 29vh;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

img:hover {
  filter: grayscale(0%);
}

.gridWrapper {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3,29vw);
  grid-template-rows: repeat(3,29vw);
}

@media (max-width:640px) {
  .gridWrapper {
    width: 90vw;
    grid-template-columns: repeat(2,49vw);
    grid-template-rows: repeat(4,49vw);
  }

  img {
    width: 49vw;
    height: 49vh;
  }
}