@charset "utf-8";

body {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(40%) blur(2px);
  transition: 0.3s;
}

img:hover {
  filter: grayscale(0%);
}

.gridWrapper {
  display: grid;
  gap: 1vw;
  width: 80vw;
  grid-template-columns: repeat(3,29vw);
  grid-template-rows: repeat(3,29vw);
}

@media (max-width:640px) {
  .gridWrapper {
    width: 90vw;
    grid-template-columns: repeat(2,49vw);
    grid-template-rows: repeat(4,49vw);
  }

  img {
    width: 200px;
    height: 200px;
  }
}