@charset 'UTF-8';

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  line-height: 2rem;
}

.fixed {
  width: 100%;
  padding: 1rem;
  background-color: cadetblue;
  position: fixed;
  top: 0;
}

.contentsContainer {
  margin: 12rem 0 0;
}

.textContainer {
  width: 70vw;
  margin: 1.5rem;
  padding: 1.5rem;
  margin: 0 auto 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.sample {
  width: 30vw;
  text-align: center;
  margin: 0 auto 3rem;
}

.div-static {
  padding: 2rem 0;
  background-color: pink;
}

.relative01 {
  padding: 2rem 0;

}

.relative02 {

}

.sticky {
  width: 90%;
  margin: 0 auto 1rem;
  padding: 2rem;
  background-color: blanchedalmond;
  position: sticky;
  bottom: 1rem;
}